[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
drf-spectacular = "*"
fontawesomefree = "*"
gunicorn = "*"

[dev-packages]
black = "*"
whitenoise = "*"

[requires]
python_version = "3.10"
