@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=Bakbak+One&family=Fredoka:wght@300&family=M+PLUS+Rounded+1c:wght@300&family=Maitree&family=Manuale&family=Montserrat:wght@400;600&family=Public+Sans:wght@700&family=Source+Code+Pro:wght@300&display=swap');

.header {
    background-color: #2d385a;
}

.maitree {
    font-family: 'Maitree', serif;
    
}

.text-shadow {
    text-shadow: 2px 2px 7px rgb(0, 0, 0);
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.text-justify {
    text-align: justify;
}

.hover:hover {
    opacity: 0.6;
}

.bg-custom {
    background-color: #fddc99;
}

/* Flash messages */
.message-container {
    position: absolute;
    top: 75px;
    right: 50px !important;
    opacity: 1 !important;
    z-index: 999;
}

.flash-message {
    display: none;
    position: absolute;
    top: 75px;
    right: 50px !important;
    opacity: 1 !important;
    z-index: 999;
    background-color: #929fba;
    color: rgb(255, 255, 255);
    padding: 5px;
}
